/* @group Base layout editor */

.form-item-layout-regions {
  display: none;
}

.rld-inner p {
  margin: 0;
}

/* @end */

/* @group ResponsiveLayoutDesigner */

.rld-layouts {
  border: 1px solid #d0d0d1;
}

.rld-controls button {
  display: none;
}

/* @end */
