/* custom css start*/
div#block-zircon-branding {
  padding-bottom: 34px;
}

.site-name {
    padding-left: 157px;
    margin-top: -30px;
    padding-bottom: 9px;
    font-size: 30px;
}

div#block-sharethiswidget {
    float: right;
    padding-top: 45px;
    padding-right: 34px;
}


input#edit-field-email-0-value {
    width: 175px;
}


input#edit-preview {
    display: none;
}

input#edit-preview--2 {
    display: none;
}

div#block-flashnews {
    float: left;
    padding-left: 105px;
    width: 50%;
    padding-top: 48px;
}

div#block-videotitle {
    color: white;
}

nav#block-useraccountmenu {
    float: left;
    padding-left: 91px;
    padding-top: 23px;
}

marquee {
    color: #AD1500;
}
.accordion-title {
    padding-left: 25px;
    font-weight: bold;
}
.accordion-open {
    background: rgba(0, 0, 0, 0) url("../images/minus.png") no-repeat scroll 0 0;
}
.accordion-close {
    background: rgba(0, 0, 0, 0) url("../images/closed.png") no-repeat scroll 0 0;
}
/* custom css end*/

